body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6f7a51;
    text-align: center;
}

header{
    background: #364022;
    padding: 30px;
}

.slash{
    color: #7b5a30;
    margin: 10px;
    
}

.profile img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid;
    margin-bottom: 10px;
}

.about, .portfolio, .contact{
    background-color: #364022;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.work-item{
    display: inline-block;
    width: 45%;
    margin:10px;
}

.work-item img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.work-item img:hover{
    transform: scale(1.1);
    border: 3px solid #7b5a30;
    box-shadow: 0px 0px rgba(0,0,0,0.1);
}